.overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; /* Set the width of the modal as per your requirement */
    background-color: white;
    overflow-y: auto;
  }
  